* {
	box-sizing: border-box;
	margin: 0;
	z-index: 1;
}

body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	/* background-image: url("https://images.unsplash.com/photo-1613771404721-1f92d799e49f");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	filter: blur(8px); */
}

#bg-image {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	background-image: url("https://images.unsplash.com/photo-1613771404721-1f92d799e49f");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	filter: opacity(0.6) blur(8px);
}

h1 {
	font-size: 5rem;
}

.pkmn_list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.pokemon_card {
	width: 100 px;
	margin: 20px;
	/* background-color: rgba(240, 30, 30, 0.4); */
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}

.image_wrapper {
	background-color: rgba(200, 200, 200, 0.5);
	border-radius: 50%;
}

.pkmn-name {
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	border-radius: 20px;
}

.hover-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 40px 20px;
	color: white;
	background-color: rgba(0, 0, 0, 0.95);
	z-index: 1;
	display: none;
	text-align: center;
	font-size: 2rem;
}

.hover-overlay ul {
	list-style: none;
	padding: 15% 0 0;
	/* margin: auto 0; */
}

.hover-overlay ul li {
	padding: 10px 20px 0;
	text-align: left;
}

h2 {
	text-decoration: underline;
}

.li-value {
	color: yellow;
}

.pokemon_card:hover .hover-overlay {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
